{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
    <div class="jumbotron">
      <div class="container">
        <h1 class="display-3">Hello, world!</h1>
        <p>This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
      </div>
    </div>
    {% if category_item %}
<ul class="list-inline">
{% for item in category_item %}
		<li class="list-inline-item">
			<div class="card">
			  <div class="card-body">
                  <h4 class="card-title"><a href="{{ item.get_absolute_url }}">{{ item.name }}</a></h4>
			  </div>
			</div>
		</li>
{% endfor %}
	  </ul>
    {% endif %}
      <hr>
      <footer>
        <p>&copy; Company 2017</p>
      </footer>
{% endblock content %}